<table class="table">
    <thead>
        <tr>
            @for(col of columns(); track col){
            <th scope="col" class="{{col.sortDirection !== undefined ? 'sort': ''}}"  (click)="sort(col)">
                {{col.headerText}}
                @if(col.sortDirection === 'asc'){↑}
                @if(col.sortDirection === 'desc'){↓}
                @if(col.sortDirection === ''){↓↑}
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @if(sortedData().length >= 0){
        @for(data of sortedData(); track data){
        <tr>
            @for(col of columns(); track col){
            @if(col.field){
            <td>{{data[col.field]}}</td>
            } @else if(col.columnType == 'action'){
            <td>
                @for(action of col.actions; track action){
                <button [disabled]="action?.disabled(data)" type="button" class="btn btn-primary me-2"
                    (click)="actionClick(action, data)">{{action.label}}</button>
                }
            </td>
            }
            }
        </tr>
        }
        }
    </tbody>
</table>